# Python as a calculator

One of the simplest things you can do with python is begin to use it as a calculator as so:

In [1]:
3+3

6

You can use all the standard operators:
* $+$ (add)
* $-$ (subtract
* $*$ (multiply)
* $/$ (divide)
* $**$ (raise to an exponent)
* $\%$ (remainder; modular arithmetic)
* $//$ (quotient; floor division)

In [3]:
5-2

3

In [4]:
5+2

7

In [5]:
5*2

10

In [6]:
5/2

2.5

In [7]:
5**2

25

In [8]:
5%2 #Remainder/modular arithmetic

1

In [9]:
5//2 #Quotient/floor division

2

# Naming things with Variables
We can use the `=` sign to assign values to a variable.

In [10]:
width = 5

In [11]:
width

5

In [12]:
height = 4

In [13]:
width * height

20

If a variable is not defined, you wil get an error

In [14]:
depth

NameError: name 'depth' is not defined

# Strings
Strings are python's built in data type for storing text. Keep in mind, that digits can also be stored as strings, but will behave differently when stored as strings rather then *float* or *integer* numbers.

In [16]:
'Monty Python and the Holy Grail' #single (or double) quotes indicate a string

'Monty Python and the Holy Grail'

In [17]:
"Monty Python and the Holy Grail"

'Monty Python and the Holy Grail'

In [20]:
sentence = "Monty Python \nand the Holy Grail" #\n is a special character denoting "new line"
sentence

'Monty Python \nand the Holy Grail'

In [21]:
print(sentence)

Monty Python
and the Holy Grail

In [23]:
2+2

4

In [24]:
'2'+'2'

'22'

In [26]:
'blah '*5

'blah blah blah blah blah '

In [30]:
ls st*

string-slicing.png

# String slicing
<img src='string-slicing.png' width=600>

In [31]:
name = 'Monty Python'

In [32]:
name[0] #first character in the string

'M'

In [33]:
name[:5] #first 5 characters in the string

'Monty'

In [34]:
name[:-10] #up to the last 10 characters in the string (note \n counts as 1 character)

'Mo'

In [36]:
name[-6:] #The last 6 characters

'Python'

In [37]:
name[::-1] #Everything going backwards

'nohtyP ytnoM'

Strings also have a number of built in methods including: 
* str.lower()
* str.upper()
* str.split()
* str.replace()
* str.strip()

In [38]:
name.lower()

'monty python'

In [40]:
name.upper()

'MONTY PYTHON'

In [41]:
name.split() #This returns a list! We'll talk about that next. (By default splits on spaces)

['Monty', 'Python']

In [42]:
name.split('y') #You can also split by other characters

['Mont', ' P', 'thon']

In [45]:
name.replace('n', 'z')

'Mozty Pythoz'

In [46]:
name.strip() #Remove beginning/ ending whitespace

'Monty Python'

# Lists
Python also has a number of compound data types such as lists. These are used to group items together.

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [3]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
type(numbers)

list

Like strings, lists can be sliced by the index:

In [5]:
numbers[0]

1

In [6]:
numbers[-1]

10

In [7]:
numbers[:5]

[1, 2, 3, 4, 5]

# List methods
Lists also have many built in methods including:
* list.reverse()
    * Doesn't directly return anything but updates the list
* list.pop()
    * Remove the item at the given index (7) and return its value
* list.remove()
    * Find the given item and remove it. Doesn't return anything directly.
* list.append()
    * Append an item to the end of a list. No return value.
* list.insert()
    * Insert an item at a specific position.

In [44]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [45]:
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
numbers.reverse() #Doesn't directly return anything but updates the list

In [47]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
numbers.pop(7) #Remove the item at the given index (7) and return its value

3

In [49]:
numbers

[10, 9, 8, 7, 6, 5, 4, 2, 1]

In [50]:
numbers.remove(7) #Find the given item and remove it. Doesn't return anything directly.

In [51]:
numbers

[10, 9, 8, 6, 5, 4, 2, 1]

In [52]:
numbers.append(7)

In [53]:
numbers

[10, 9, 8, 6, 5, 4, 2, 1, 7]

In [54]:
numbers.insert(-3, 3)

In [55]:
numbers

[10, 9, 8, 6, 5, 4, 3, 2, 1, 7]

# Loops and Iteration
Lists are a natural place to start looking at how we can iterate in python.

In [61]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [62]:
for num in numbers:
    print(num+2)

3
4
5
6
7
8
9
10
11
12

In [63]:
#Notice that we can use any alias as the variable name for our iterator:
for super_bad_variable_name in numbers:
    print(super_bad_variable_name)

1
2
3
4
5
6
7
8
9
10

# Booleans and Conditionals
Another basic data type we have ignored up until now are booleans which are used in classical logic. Booleans are either True or False.

In [47]:
type(True)

bool

In [48]:
type(False)

bool

Booleans are very useful for conditional execution. For example:

In [49]:
for i in [1,2,3,4,5]:
    if i < 3:
        print(i)

1
2

Through each iteration of the loop, python is evaluating the expression `i < 3` and resolving it to a boolean to determine whether or not to execute the following paragraph of code.

In [50]:
1 < 3

True

In [51]:
2 < 3

True

In [52]:
3 < 3

False

In [53]:
4 < 3

False

In [54]:
5 < 3

False